<%- include("header") -%>

<h2>This is the about page</h2>

<p>asdlkjasd aslkjas l;kwjf weorj qsoiuq sdmnqsd ;iwjedlqwkdj diuchoidjcOeicjoweiJF wed sof oieuflsEJFOSKDFJ OSDIFJ SODIFJ SDOFJaskldh dsflkj</p>

<%- include("footer") -%>
